<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.pepping.android.ringtone"
      android:installLocation="auto"
      android:versionCode="8"
      android:versionName="0.3.0"
      >

<!--
	VersionCode 7
	* Timer - Funktion
	* * Lange Klick auf das temporaere Profil
	* * Auswahl der Zeit / vorgegeben oder manuell 
	* * Anzeige des temporaer deaktivierten Profils grau
	* * Anzeige der Zeit als Counter
	* * Der Timer kann abgebrochen werden durch klick auf den WEcker, der nun ROT(aktiviert) ist
	* * Einstellungen kann optional ein vibrieren Timer - Notification by Vibration
	* * Infos erscheinen bei 
	* Beenden Funktionalität als Button
	* Splash - Yes/no => Preferences
	* Exit app Yes/no on chose Profile 
	* Beim Airplanemode wird bei AKTIVIERTEM Airplane der Button hellblau dargestellt
	* Oberflaechenanpassungen
	* Foyo Compatible
	* App 2 SD Extermal Storage
	
	- Dialog bei Klick auf den Ringtone mit Infos
	- Neue Screenshots fuer den Market
	- Neue Beschreibung
	
-->
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="4" />
        	<!--
				Android 3.0	    11
				Android 2.3.3	10
				Android 2.3	    9
				Android 2.2	    8
				Android 2.1	    7
				Android 2.0.1	6
				Android 2.0	    5
				Android 1.6	    4
				Android 1.5	    3
				Android 1.1	    2
				Android 1.0	    1
        	 -->
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/title_icon2"
    		android:name="de.pepping.android.ringtone.GuiceNumberGeneratorApplication" 
    		android:theme="@style/CustomButton"
    		>
        
        <activity android:name=".activity.RingToneActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait" 
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".activity.PreferencesActivity"
		        android:label="@string/textMenuPreferences">
		</activity>
        
        <activity android:name=".activity.CloseActivity"
                  android:screenOrientation="portrait" 
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="de.pepping.android.ringtone.intent.action.CLOSE_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<activity android:name=".activity.MainSettingsActivity" android:label="Quick Settings"
			android:icon="@drawable/ic_logo" android:launchMode="singleInstance"
			android:excludeFromRecents="true" android:theme="@style/Theme.NoTitle">
		</activity>
		
		<receiver android:name=".service.TimerService" android:process=":remote" />
		
		<!--		QuickSetting-->
		<activity android:name=".activity.LayoutSettingsActivity"
			android:label="@string/txt_customize_settings"
			android:excludeFromRecents="true" android:theme="@style/Theme.NoTitle" />

		<activity android:name=".preferences.CommonPrefs"
			android:label="@string/txt_preferences" android:excludeFromRecents="true" />

		<activity android:name=".preferences.BrightnessPrefs"
			android:label="@string/txt_preferences" android:excludeFromRecents="true" />

		<activity android:name=".preferences.MobileDataPrefs"
			android:label="@string/txt_preferences" android:excludeFromRecents="true" />

		<activity android:name=".preferences.AirplaneModePrefs"
			android:label="@string/txt_preferences" android:excludeFromRecents="true" />

<!--
		<receiver android:name=".receivers.StatusBarIntegrationReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="com.bwx.bequick.UPDATE_STATUSBAR_INTEGRATION" />
				<action android:name="com.bwx.bequick.INIT_STATUSBAR_INTEGRATION" />
				<action android:name="com.bwx.bequick.START_QS" />
			</intent-filter>
		</receiver>
-->

    </application>

<!-- access -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<!-- control -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />

	<!-- bluetooth -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

	<!-- data connection, write APN -->
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

	<!-- enable / disable auto-sync  -->
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />

	<!-- common features -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<!-- led flashlight for Motodroid -->
	<uses-permission android:name="android.permission.FLASHLIGHT" android:required="false"/>
	<uses-permission android:name="android.permission.HARDWARE_TEST" android:required="false"/>

	<!-- GPS at rooted phones -->
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" android:required="false"/>
	<uses-permission android:name="android.permission.READ_SECURE_SETTINGS" android:required="false"/>

	<!-- led flashlight for froyo -->
	<uses-permission android:name="android.permission.CAMERA" android:required="false" />
	
	<!-- mobile data switch -->
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" android:required="false"/>
	
	<!-- 4G -->
	<uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" android:required="false"/>
	<uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" android:required="false"/>
	
	<!-- not required features -->
	<uses-feature android:name="android.hardware.camera" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	<uses-feature android:name="android.hardware.telephony" android:required="false"/>
	<uses-feature android:name="android.hardware.location" android:required="false"/>
	<uses-feature android:name="android.hardware.location.gps" android:required="false"/>
	
	<uses-permission android:name="android.permission." android:required="false"/>
</manifest> 